## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
'''這邊記得在本機電腦的下載路徑中新增一個名為"data"的資料夾'''
dir_data = './data/'

In [3]:
#可以看目前所在位置的所有檔案
!tree

列出磁碟區 System 的資料夾 PATH
磁碟區序號為 00000090 5A9F:4B7D
C:.
├─.ipynb_checkpoints
└─data

In [4]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [5]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

資料數: 5 rows × 122 columns

#### 列出所有欄位

In [6]:
app_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.000,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.000,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.000,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.000,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.000,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.000,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,Cash loans,F,Y,Y,1,171000.000,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,Cash loans,M,Y,Y,0,360000.000,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,Cash loans,F,N,Y,0,112500.000,1019610.0,33826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,Revolving loans,M,N,Y,0,135000.000,405000.0,20250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10,100014,0,Cash loans,F,N,Y,1,112500.000,652500.0,21177.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
11,100015,0,Cash loans,F,N,Y,0,38419.155,148365.0,10678.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
12,100016,0,Cash loans,F,N,Y,0,67500.000,80865.0,5881.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
13,100017,0,Cash loans,M,Y,N,1,225000.000,918468.0,28966.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
14,100018,0,Cash loans,F,N,Y,0,189000.000,773680.5,32778.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
15,100019,0,Cash loans,M,Y,Y,0,157500.000,299772.0,20160.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
16,100020,0,Cash loans,M,N,N,0,108000.000,509602.5,26149.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
17,100021,0,Revolving loans,F,N,Y,1,81000.000,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
18,100022,0,Revolving loans,F,N,Y,0,112500.000,157500.0,7875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
19,100023,0,Cash loans,F,N,Y,1,90000.000,544491.0,17563.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
20,100024,0,Revolving loans,M,Y,Y,0,135000.000,427500.0,21375.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
21,100025,0,Cash loans,F,Y,Y,1,202500.000,1132573.5,37561.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
22,100026,0,Cash loans,F,N,N,1,450000.000,497520.0,32521.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
23,100027,0,Cash loans,F,N,Y,0,83250.000,239850.0,23850.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
24,100029,0,Cash loans,M,Y,N,2,135000.000,247500.0,12703.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
25,100030,0,Cash loans,F,N,Y,0,90000.000,225000.0,11074.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
26,100031,1,Cash loans,F,N,Y,0,112500.000,979992.0,27076.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
27,100032,0,Cash loans,M,N,Y,1,112500.000,327024.0,23827.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
28,100033,0,Cash loans,M,Y,Y,0,270000.000,790830.0,57676.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
29,100034,0,Revolving loans,M,N,Y,0,90000.000,180000.0,9000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307481,456225,1,Cash loans,M,N,Y,0,225000.000,297000.0,19975.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307482,456226,0,Cash loans,F,Y,Y,0,225000.000,500566.5,34969.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307483,456227,0,Cash loans,F,N,Y,0,99000.000,247275.0,16479.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
307484,456228,0,Cash loans,F,Y,N,0,540000.000,545040.0,35617.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307485,456229,0,Revolving loans,F,N,Y,1,270000.000,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307486,456230,0,Cash loans,F,Y,Y,1,292500.000,355536.0,18283.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
307487,456231,0,Cash loans,M,N,Y,0,117000.000,1071909.0,31473.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,8.0
307488,456232,0,Cash loans,F,N,N,0,157500.000,135000.0,13351.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
307489,456233,1,Cash loans,F,N,Y,0,225000.000,521280.0,23089.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307490,456234,0,Cash loans,M,N,Y,0,81000.000,135000.0,9148.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307491,456235,0,Cash loans,M,Y,Y,2,90000.000,1078200.0,31522.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
307492,456236,0,Cash loans,M,Y,Y,0,585000.000,1575000.0,43443.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307493,456237,0,Cash loans,F,N,Y,0,135000.000,946764.0,37678.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
307494,456238,0,Cash loans,M,Y,N,1,270000.000,479700.0,46858.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,1.0
307495,456239,0,Cash loans,M,Y,N,0,180000.000,808650.0,23773.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307496,456240,0,Revolving loans,F,N,N,0,360000.000,337500.0,16875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307497,456241,0,Cash loans,F,Y,Y,0,180000.000,270126.0,12028.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
307498,456242,0,Cash loans,M,Y,Y,0,198000.000,1312110.0,52168.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307499,456243,0,Cash loans,F,N,Y,0,81000.000,225000.0,12694.5,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,0.0
307500,456244,0,Cash loans,F,N,Y,0,261000.000,1303812.0,35982.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
307501,456245,0,Cash loans,F,N,Y,3,81000.000,269550.0,11871.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307502,456246,0,Cash loans,F,N,Y,1,94500.000,225000.0,10620.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307503,456247,0,Cash loans,F,N,Y,0,112500.000,345510.0,17770.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
307504,456248,0,Cash loans,F,N,Y,0,153000.000,331920.0,16096.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307505,456249,0,Cash loans,F,N,Y,0,112500.000,225000.0,22050.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
307506,456251,0,Cash loans,M,N,N,0,157500.000,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.000,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.000,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.000,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.000,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

#### 截取部分資料

In [7]:
#僅顯示350~500筆的資料
app_train[350:500]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
350,100403,0,Cash loans,M,Y,Y,0,315000.0,1350000.0,39604.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
351,100405,0,Cash loans,M,Y,Y,0,180000.0,450000.0,22018.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
352,100406,0,Cash loans,F,N,Y,0,135000.0,468648.0,34101.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
353,100407,0,Cash loans,F,N,N,0,157500.0,521280.0,26743.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
354,100408,0,Cash loans,F,N,Y,0,81000.0,454500.0,29173.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
355,100409,0,Cash loans,M,N,Y,0,112500.0,454500.0,23337.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
356,100410,0,Cash loans,F,Y,N,0,180000.0,1258650.0,56277.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
357,100411,0,Cash loans,M,Y,N,1,450000.0,1035832.5,33412.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
358,100412,0,Cash loans,F,Y,Y,2,135000.0,318528.0,25294.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
359,100413,0,Cash loans,M,N,Y,0,90000.0,90000.0,9351.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
360,100414,0,Cash loans,F,N,Y,0,112500.0,533304.0,27360.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
361,100415,0,Cash loans,F,N,Y,2,112500.0,792162.0,38241.0,...,0,0,0,0,1.0,0.0,1.0,0.0,0.0,0.0
362,100417,0,Cash loans,F,N,Y,0,180000.0,755190.0,36459.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
363,100418,0,Cash loans,F,N,N,0,135000.0,521280.0,31500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
364,100419,0,Cash loans,F,N,Y,0,112500.0,454500.0,13419.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
365,100420,0,Cash loans,F,N,Y,3,54000.0,91692.0,9198.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
366,100421,0,Cash loans,M,Y,N,0,450000.0,900000.0,32017.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
367,100423,0,Cash loans,F,Y,Y,0,472500.0,1327648.5,42957.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,3.0
368,100424,1,Cash loans,M,N,Y,0,112500.0,117162.0,12433.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
369,100425,0,Cash loans,F,Y,Y,2,90000.0,688500.0,20259.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
370,100427,0,Cash loans,F,N,N,1,67500.0,450000.0,30442.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
371,100428,0,Cash loans,F,Y,Y,0,90000.0,1224990.0,35946.0,...,0,0,0,0,0.0,0.0,0.0,3.0,0.0,1.0
372,100429,0,Cash loans,M,N,Y,0,180000.0,629325.0,26793.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
373,100430,0,Cash loans,F,N,Y,1,90000.0,157914.0,17136.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
374,100431,0,Cash loans,F,N,Y,1,157500.0,1724220.0,47542.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
375,100432,0,Cash loans,F,N,N,0,90000.0,495000.0,25272.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
376,100433,0,Cash loans,F,N,Y,1,157500.0,472500.0,45454.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
377,100434,0,Cash loans,F,N,Y,1,202500.0,280170.0,30303.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
378,100435,0,Cash loans,F,N,Y,0,112500.0,450000.0,16294.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
379,100436,0,Revolving loans,F,N,Y,0,112500.0,405000.0,20250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,100540,1,Cash loans,F,N,Y,1,157500.0,338832.0,26901.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0
471,100541,1,Cash loans,F,Y,N,2,180000.0,900000.0,43299.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
472,100542,0,Cash loans,F,N,Y,0,112500.0,156339.0,11245.5,...,0,0,0,0,0.0,0.0,0.0,0.0,4.0,2.0
473,100543,0,Cash loans,F,N,Y,0,157500.0,225000.0,26703.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
474,100544,0,Cash loans,F,N,Y,0,96750.0,252000.0,13176.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
475,100545,0,Cash loans,F,N,Y,0,144000.0,1012500.0,29736.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
476,100546,0,Cash loans,M,N,Y,0,67500.0,508495.5,21672.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
477,100547,1,Cash loans,M,Y,N,0,211500.0,450000.0,21888.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
478,100549,0,Cash loans,F,N,Y,0,225000.0,545040.0,28350.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
479,100550,0,Cash loans,F,Y,Y,0,247500.0,669591.0,24178.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
480,100554,0,Cash loans,F,Y,Y,0,225000.0,1125000.0,31068.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0
481,100555,0,Cash loans,F,N,N,0,112500.0,337500.0,17230.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
482,100556,0,Cash loans,F,N,Y,0,58500.0,50940.0,4959.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
483,100557,0,Cash loans,F,Y,Y,0,225000.0,1320975.0,43785.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
484,100558,0,Revolving loans,M,N,Y,0,157500.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
485,100559,0,Cash loans,F,Y,Y,0,450000.0,2286211.5,116266.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
486,100560,0,Cash loans,F,N,N,0,49500.0,225000.0,11488.5,...,0,0,0,0,1.0,0.0,0.0,0.0,0.0,1.0
487,100562,0,Revolving loans,M,N,Y,1,337500.0,675000.0,33750.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
488,100563,0,Cash loans,F,N,Y,0,135000.0,1175314.5,38974.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
489,100564,0,Cash loans,M,N,Y,2,180000.0,835380.0,40320.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
490,100565,0,Cash loans,F,N,Y,0,112500.0,518562.0,25078.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
491,100566,0,Cash loans,F,N,Y,1,117000.0,932643.0,27400.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
492,100567,1,Revolving loans,M,Y,Y,0,99000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0
493,100570,0,Cash loans,F,Y,N,0,180000.0,1395000.0,36927.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
494,100571,0,Cash loans,M,Y,Y,2,292500.0,983299.5,39127.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
495,100572,0,Cash loans,F,N,Y,0,31500.0,314055.0,13437.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
496,100573,0,Cash loans,F,Y,N,1,157500.0,961146.0,26559.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
497,100574,0,Cash loans,M,Y,Y,0,225000.0,1125000.0,60070.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
498,100575,0,Cash loans,M,Y,Y,0,108000.0,247275.0,17586.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
499,100576,0,Cash loans,F,N,Y,2,180000.0,225000.0,24363.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [8]:
from pandas import Series, DataFrame
%matplotlib inline
import matplotlib.pyplot as plt

In [9]:
#可以限定多少row 或多少column
top_five= app_train.iloc[307500:, :4]
top_five

        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER
307500      456244       0         Cash loans           F
307501      456245       0         Cash loans           F
307502      456246       0         Cash loans           F
307503      456247       0         Cash loans           F
307504      456248       0         Cash loans           F
307505      456249       0         Cash loans           F
307506      456251       0         Cash loans           M
307507      456252       0         Cash loans           F
307508      456253       0         Cash loans           F
307509      456254       1         Cash loans           F
307510      456255       0         Cash loans           F

In [10]:
#讀取後面的n筆資料
app_train.tail(5)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [11]:
tran=app_train.T #可以轉置rows跟columns
tran

,0,1,2,3,4,5,6,7,8,9,...,307501,307502,307503,307504,307505,307506,307507,307508,307509,307510
SK_ID_CURR,100002,100003,100004,100006,100007,100008,100009,100010,100011,100012,...,456245,456246,456247,456248,456249,456251,456252,456253,456254,456255
TARGET,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
NAME_CONTRACT_TYPE,Cash loans,Cash loans,Revolving loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Revolving loans,...,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans
CODE_GENDER,M,F,M,F,M,M,F,M,F,M,...,F,F,F,F,F,M,F,F,F,F
FLAG_OWN_CAR,N,N,Y,N,N,N,Y,Y,N,N,...,N,N,N,N,N,N,N,N,N,N
FLAG_OWN_REALTY,Y,N,Y,Y,Y,Y,Y,Y,Y,Y,...,Y,Y,Y,Y,Y,N,Y,Y,Y,N
CNT_CHILDREN,0,0,0,0,0,0,1,0,0,0,...,3,1,0,0,0,0,0,0,0,0
AMT_INCOME_TOTAL,202500,270000,67500,135000,121500,99000,171000,360000,112500,135000,...,81000,94500,112500,153000,112500,157500,72000,153000,171000,157500
AMT_CREDIT,406598,1.2935e+06,135000,312682,513000,490496,1.56073e+06,1.53e+06,1.01961e+06,405000,...,269550,225000,345510,331920,225000,254700,269550,677664,370107,675000
AMT_ANNUITY,24700.5,35698.5,6750,29686.5,21865.5,27517.5,41301,42075,33826.5,20250,...,11871,10620,17770.5,16096.5,22050,27558,12001.5,29979,20205,49117.5
AMT_GOODS_PRICE,351000,1.1295e+06,135000,297000,513000,454500,1.395e+06,1.53e+06,913500,405000,...,225000,225000,247500,225000,225000,225000,225000,585000,319500,675000
NAME_TYPE_SUITE,Unaccompanied,Family,Unaccompanied,Unaccompanied,Unaccompanied,"Spouse, partner",Unaccompanied,Unaccompanied,Children,Unaccompanied,...,Unaccompanied,Unaccompanied,Unaccompanied,Unaccompanied,Unaccompanied,Unaccompanied,Unaccompanied,Unaccompanied,Unaccompanied,Unaccompanied
NAME_INCOME_TYPE,Working,State servant,Working,Working,Working,State servant,Commercial associate,State servant,Pensioner,Working,...,Commercial associate,Working,Commercial associate,Working,Pensioner,Working,Pensioner,Working,Commercial associate,Commercial associate
NAME_EDUCATION_TYPE,Secondary / secondary special,Higher education,Secondary / secondary special,Secondary / secondary special,Secondary / secondary special,Secondary / secondary special,Higher education,Higher education,Secondary / secondary special,Secondary / secondary special,...,Secondary / secondary special,Secondary / secondary special,Higher education,Secondary / secondary special,Secondary / secondary special,Secondary / secondary special,Secondary / secondary special,Higher education,Secondary / secondary special,Higher education
NAME_FAMILY_STATUS,Single / not married,Married,Single / not married,Civil marriage,Single / not married,Married,Married,Married,Married,Single / not married,...,Married,Married,Single / not married,Separated,Single / not married,Separated,Widow,Separated,Married,Married
NAME_HOUSING_TYPE,House / apartment,House / apartment,House / apartment,House / apartment,House / apartment,House / apartment,House / apartment,House / apartment,House / apartment,House / apartment,...,House / apartment,House / apartment,House / apartment,House / apartment,House / apartment,With parents,House / apartment,House / apartment,House / apartment,House / apartment
REGION_POPULATION_RELATIVE,0.018801,0.003541,0.010032,0.008019,0.028663,0.035792,0.035792,0.003122,0.018634,0.019689,...,0.009175,0.010966,0.0228,0.022625,0.0228,0.032561,0.025164,0.005002,0.005313,0.04622
DAYS_BIRTH,-9461,-16765,-19046,-19005,-19932,-16941,-13778,-18850,-20099,-14469,...,-12961,-16063,-11870,-16705,-24384,-9327,-20775,-14966,-11961,-16856
DAYS_EMPLOYED,-637,-1188,-225,-3039,-3038,-1588,-3130,-449,365243,-2019,...,-1046,-8736,-399,-7258,365243,-236,365243,-7921,-4786,-1262
DAYS_REGISTRATION,-3648,-1186,-4260,-9833,-4311,-4970,-1213,-4597,-7427,-14437,...,-1398,-8672,-675,-9798,-7369,-8456,-4388,-6737,-2562,-5128
DAYS_ID_PUBLISH,-2120,-291,-2531,-2437,-3458,-477,-619,-2379,-3514,-3992,...,-3780,-4531,-3936,-259,-2357,-1982,-4090,-5150,-931,-410
OWN_CAR_AGE,NaN,NaN,26,NaN,NaN,NaN,17,8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FLAG_MOBIL,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
FLAG_EMP_PHONE,1,1,1,1,1,1,1,1,0,1,...,1,1,1,1,0,1,0,1,1,1
FLAG_WORK_PHONE,0,0,1,0,0,1,0,1,0,0,...,1,1,0,0,0,0,0,0,0,1
FLAG_CONT_MOBILE,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
FLAG_PHONE,1,1,1,0,0,1,1,0,0,0,...,0,0,0,0,1,0,1,0,0,1
FLAG_EMAIL,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
OCCUPATION_TYPE,Laborers,Core staff,Laborers,Laborers,Core staff,Laborers,Accountants,Managers,NaN,Laborers,...,Low-skill Laborers,Laborers,Core staff,Sales staff,NaN,Sales staff,NaN,Managers,Laborers,Laborers
CNT_FAM_MEMBERS,1,2,1,2,1,2,3,2,2,1,...,5,3,1,1,1,1,1,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DEF_30_CNT_SOCIAL_CIRCLE,2,0,0,0,0,0,0,0,0,0,...,1,0,3,0,0,0,0,0,0,0
OBS_60_CNT_SOCIAL_CIRCLE,2,1,0,2,0,0,1,2,1,2,...,2,0,9,0,0,0,0,6,0,0
DEF_60_CNT_SOCIAL_CIRCLE,2,0,0,0,0,0,0,0,0,0,...,1,0,2,0,0,0,0,0,0,0
DAYS_LAST_PHONE_CHANGE,-1134,-828,-815,-617,-1106,-2536,-1562,-1070,0,-1673,...,-448,-1516,-2315,0,0,-273,0,-1909,-322,-787
FLAG_DOCUMENT_2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_3,1,1,0,1,0,1,0,1,1,0,...,1,1,1,1,0,0,1,1,1,1
FLAG_DOCUMENT_4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
FLAG_DOCUMENT_7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_8,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
FLAG_DOCUMENT_9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_14,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLAG_DOCUMENT_21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AMT_REQ_CREDIT_BUREAU_HOUR,0,0,0,NaN,0,0,0,0,0,NaN,...,NaN,0,0,NaN,0,NaN,NaN,1,0,0
AMT_REQ_CREDIT_BUREAU_DAY,0,0,0,NaN,0,0,0,0,0,NaN,...,NaN,0,0,NaN,0,NaN,NaN,0,0,0
AMT_REQ_CREDIT_BUREAU_WEEK,0,0,0,NaN,0,0,0,0,0,NaN,...,NaN,0,0,NaN,0,NaN,NaN,0,0,0
AMT_REQ_CREDIT_BUREAU_MON,0,0,0,NaN,0,0,1,0,0,NaN,...,NaN,0,1,NaN,2,NaN,NaN,1,0,2
AMT_REQ_CREDIT_BUREAU_QRT,0,0,0,NaN,0,1,1,0,0,NaN,...,NaN,0,0,NaN,0,NaN,NaN,0,0,0
AMT_REQ_CREDIT_BUREAU_YEAR,1,0,0,NaN,0,1,2,0,1,NaN,...,NaN,1,2,NaN,0,NaN,NaN,1,0,1

In [12]:
app_train.info() #看檔案的type，或檢查空值

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [13]:
app_train.describe() #算平均、中位數、最大、最小值

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

In [14]:
#索引和切片
foo = DataFrame([4.5, 7.2, -5.3, 3.6], index=['a', 'b', 'c', 'd'])
bar = DataFrame([4.5, 7.2, -5.3, 3.6], index=range(4))

In [15]:
print(foo)
print('------')
print(bar)

     0
a  4.5
b  7.2
c -5.3
d  3.6
------
     0
0  4.5
1  7.2
2 -5.3
3  3.6

In [16]:
print(foo[:2])
print('------')
print(bar[:2])
print('------')
print(foo[:'c'])

     0
a  4.5
b  7.2
------
     0
0  4.5
1  7.2
------
     0
a  4.5
b  7.2
c -5.3